<div class="searchRecipe">
  <h1>Welcome to</h1>
  <img class="logoImg" src="../../../RecipeBookLogo_2.1.png" alt="Photo unavailable" title="Home page of Recipe Book">

  <!-- <p>Let's cook something!</p> -->

  <h2>What do you want to cook?</h2>

  <input type="text" [(ngModel)]="ingredientToSearch" (keyup.enter)="searchRecipeByIngredient(ingredientToSearch)"
    placeholder="Search recipe by ingredient on Edaman API" size="50" required>
  <!-- <a><input type="button" value="Search" (click)="searchRecipeByIngredient()"></a> -->
  <br />
  <br />

  <label>Diet Label</label>
  <select name="diet" [(ngModel)]="dietLabel" ngDefaultControl>
    <option disabled selected value> -- Select an option -- </option>
    <option *ngFor="let dietLabel of dietLabelsEdamam" [value]=dietLabel.value>{{dietLabel.text}}</option>

  </select>

  <label>Health Label</label>
  <select name="healthLabels" [(ngModel)]="healthLabels" ngDefaultControl>
    <option disabled selected value> -- Select an option -- </option>
    <option *ngFor="let healthLabel of healthLabelsEdamam" [value]=healthLabel.value>{{healthLabel.text}}</option>
  </select>
  <br />
  <br />

  <button mat-flat-button color="primary" (click)="searchRecipeByIngredient(ingredientToSearch)"> Search </button>
  <button mat-flat-button color="warn" (click)="clearSearchParams()"> New search</button>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>

<br />

<div>
  <mat-card-content class="grid">
    <mat-card class="recipe-card" *ngFor="let recipe of this.dataSource.filteredData">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="clickable-card-title" (click)="showDialog(recipe)">{{recipe.label}}</mat-card-title>
        <mat-card-subtitle>{{recipe.timeToPrepareInMinutes}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ recipe.image }}" alt="Photo unavailable">
      <mat-card-content>
        <p>Cautions:
          {{recipe.cautions}}
        </p>
        <p>Health Labels:
          {{recipe.healthLabels}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="showDialog(recipe)" title="Details">
          <mat-icon>reorder</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>

</div>

<!-- <app-recipe-carousel></app-recipe-carousel> -->

<!-- <div class="hero">
  <div class="boarder">
    <div class="recommended_recipe">

      <h2>Recommended Recipe:</h2>
      <h3><a href="">Stale Bread</a></h3>
      <p>This recipe blends the mouth-watering flavours of old food and plain flavourless bread to bring a</p>
      <p>delicious new family-friendly recipe to your table! With only one ingredient this recipe will...</p>
      <div id="image_block">
        <img src="https://www.edamam.com/web-img/e42/e42f9119813e890af34c259785ae1cfb.jpg">
      </div>
    </div>

    <div class="website_tip">
      <h2>Pro Tip:</h2>
      <p>Click the "Weekly Planner" button located at</p>
      <p>the top right of the page to visit the recipe</p>
      <p>planner page! This page lets you create a</p>
      <p>calendar and plan recipes to cook for specific</p>
      <p>meals! You can then use the calendar when</p>
      <p>grocery shopping to reference which ingredients</p>
      <p>you need to buy for the weeks meals! <a href="/weeklyplanner">Click here</a></p>
      <p>to try out the weekly planner!</p>
    </div>

  </div>
</div> -->
