<h1>{{ title }}</h1>

<div>

  <div class='planner' cdkDropListGroup>
    <div align="center">
    <div class="meal-types">
      <h2>Meal</h2>
      <div class="example-box" *ngFor="let mealType of mealsTypes">{{mealType}}</div>
    </div>

    <div class="example-container">
      <h2>Monday</h2>

      <div
        cdkDropList
        #monday="cdkDropList"
        [cdkDropListData]="mondayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of mondayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(mondayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Tuesday</h2>

      <div
        cdkDropList
        #tuesday="cdkDropList"
        [cdkDropListData]="tuesdayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of tuesdayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(tuesdayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Wednesday</h2>

      <div
        cdkDropList
        #wednesday="cdkDropList"
        [cdkDropListData]="wednesdayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of wednesdayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(wednesdayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Thursday</h2>

      <div
        cdkDropList
        #thursday="cdkDropList"
        [cdkDropListData]="thursdayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of thursdayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(thursdayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Friday</h2>

      <div
        cdkDropList
        #friday="cdkDropList"
        [cdkDropListData]="fridayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of fridayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(fridayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Saturday</h2>

      <div
        cdkDropList
        #saturday="cdkDropList"
        [cdkDropListData]="saturdayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of saturdayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(saturdayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Sunday</h2>

      <div
        cdkDropList
        #sunday="cdkDropList"
        [cdkDropListData]="sundayRecipes"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

        <div class="example-box" *ngFor="let item of sundayRecipes; let i = index" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item.recipeTitle||item}}
          <img *cdkDragPreview [src]="item.linkToImage" [alt]="item.recipeTitle">
          <mat-icon *ngIf="item!=''" class="deleteItem" (click)="removeItem(sundayRecipes, i)">close</mat-icon>
        </div>
      </div>
    </div>

  </div>

  <!-- </div> -->
    <h1>My Recipe Book</h1>
    <h2>Drag and drop the recipes at the Day / Meal desired</h2>
<!-- <br />
<br />
<br /> -->

    <div
        cdkDropList
        #myrecipes="cdkDropList"
        [cdkDropListData]="listOfRecipes"
        cdkDropListSortingDisabled
        class="recipeBook"
        (cdkDropListDropped)="drop($event)">
        <div class="imgPreview" *ngFor="let item of dataSource.data" cdkDrag>
          {{item.recipeTitle}}
            <img class="imgPreview" src="{{ item.linkToImage }}" title="{{ item.recipeTitle }}" alt="{{ item.recipeTitle }}">
        </div>
    </div>

  </div>

</div>
