/**
 *  Author:         Gustavo Aquino Adami dos Santos
 *  Course:         CST8334 - Software Development Project
 *  File:           recipe-list.component.ccs
 *  Summary:        CSS of My Recipes Page
 */

 .products {
    padding: 2rem;
  }

  label, input {
    display: block;
  }

  label {
    margin-bottom: 1rem;
  }

  .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }

  .element-row:hover {
    background: #f5f5f5;
  }

  .mat-flat-button {
    position: relative;
  }

  .favoriteStar {
    color: orange;
  }

  .example-header-image {
    background-image: url('../../../RecipeBookLogoToolbar.png');
    background-size: cover;
  }

  .img {
    max-width: 300px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 10px 10px 10px 10px;

  }

  .clickable-card-title:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

  }
