<h1 class="h1">My Recipes</h1>
<div>
  <button mat-flat-button color="primary" (click)="createRecipe()">Create Recipe</button>
</div>

<div fxLayout fxLayoutAlign="center">
  <!-- <label for="typeText">Filter by Text
    <input type="radio" id="typeText" name="typeOfFilter" value="true" [(ngModel)]="typeOfFilter" />
  </label>

  <label for="typeFavorite">Filter by Favorites
    <input type="radio" id="typeFavorite" name="typeOfFilter" value="false" [(ngModel)]="typeOfFilter" />
  </label> -->
  <mat-form-field fxFlex="100%" fxFlex.gt-sm="20%">
    <input matInput type="text" ng-checked="!typeText" [(ngModel)]="filter" (keyup)="doFilter($event.target.value)"
      placeholder="Filter">
  </mat-form-field>

  <button mat-icon-button (click)="filterFavorites($event.target.value)"
    title="{{(favoritesFilter===false?'Filter by Favorites':'Filter by Non-Favorites')}}">
    <mat-icon class="favoriteStar">{{(favoritesFilter==true)?'star':'star_border'}}</mat-icon>
  </button>

  <button mat-icon-button (click)="clearFilter()" title="Clear Filter">
    <mat-icon class="clearFilter">close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<mat-card-content class="grid">
  <mat-card class="recipe-card" *ngFor="let recipe of this.dataSource.filteredData">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="clickable-card-title" [routerLink]="['/recipes', recipe.id]">{{recipe.recipeTitle}}</mat-card-title>
        <mat-card-subtitle><mat-icon>timer</mat-icon> {{recipe.timeToPrepareInMinutes}} min</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ recipe.linkToImage }}" alt="Photo unavailable">
    <mat-card-content>
      <p>Cautions:
        {{recipe.cautions}}
      </p>
      <p>Health Labels:
        {{recipe.healthLabels}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="toggleFavorite(recipe)" title="Save to Favorites">
        <mat-icon class="favoriteStar">{{(recipe.isFavorite==true)?'star':'star_border'}}</mat-icon>
      </button>

      <button mat-icon-button [routerLink]="['/recipes', recipe.id]" title="Details">
        <mat-icon>reorder</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteRecipe(recipe.id)" title="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card-content>

<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="footer">

  <p>Footer</p>
</div>
